src/main/mule/challenge_wipro.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="61489be5-7994-4348-b265-b93e87a5b7f1" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0347b9e-3743-4f6a-87b3-fd8fccca7141" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="challenge_wiproFlow" doc:id="2601ac85-28ce-4bf5-895a-70154a6a5a7a" >
		<scheduler doc:name="Scheduler" doc:id="888fe9b2-fb18-42ea-a648-6b387b47b685" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="6a0cb75b-800a-4c04-88ad-6e28ec2c5e05" config-ref="File_Config" path="C:\Users\leonel.porto\Documents\Workspace-alpargatas\challenge_wipro\src\main\resources\MyFiles\DadosEmCsv.csv" outputMimeType='application/csv; separator=";"'/>
		<ee:transform doc:name="CSV to JSON" doc:id="0b656b44-8d7d-4b18-b202-469a2b270958" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"wipro": (payload filter $.company == 'Wipro') map (item, index) -> 
	{
		ID: item.employeeID,
		NAME: item.employeeName,
		ADDRESS: item.addressLine1 ++ ' ' ++ item.addressLine2,
	},
	"appirio": (payload filter $.company == 'Appirio') map (item, index) -> 
	{
		ID: item.employeeID,
		NAME: item.employeeName,
		ADDRESS: item.addressLine1 ++ ' ' ++ item.addressLine2,
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="44dc8dc3-e783-44b6-aaf3-9229a21c1c08" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8f489eb4-6456-4d76-9d5d-9a5c7223e84e" >
				<logger level="INFO" doc:name="Logger" doc:id="362bb5ae-d42d-4344-8d38-ccdf9018dc88" message='#[{&#10;	"message":error.description&#10;}]'/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
